# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# ChromaDB
chroma_db_store/

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db